
.catalog{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}
.catalog-body{
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr;
    height: 100%;
}
.catalog-products{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 20px;

}
.product-container{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px 50px 150px 50px 30px;
    background-color: #B0E0E6;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}
.product-button-body{
	text-align: center;
	color: white;
	background-color: #932216;
	margin: 5px;
	border-radius: 15px;
    font-size: 1.5rem;
}
.product-button{
	display: flex;
	flex-direction: column;
	justify-content: center;}
.product-foto img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 0;
}
.product-name, .product-price{
    font-size: 2rem;
    font-weight: bold;
}
.product-info{
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.navigation-panel{
    margin-top: 40px;
    position: sticky;
    top: 10px;
    padding: 5px;

}
.navigation-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
    text-align: center;
}
.navigation-list a{
    color: black;
}

.navigation-list li{
    border-radius: 15px;
    display: block;
    background-color:#B0E0E6; 
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    transition: all;
    transition-duration: 0.5s;
}
.navigation-list li:hover{
    box-shadow: #932216 5px 5px 15px;
}
.catalog-product-category{
    color: white;
    text-align: center;
    background-color: #932216;
    margin: 40px 0;
    padding: 5px 0;
    border: 2px solid black;
}
.catalog-product-category h2{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.75rem;

}
.footer{
    margin: 20px 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    background-color: #B0E0E6;
}
.footer span{
    padding-left: 20px;
}
.footer span:nth-child(1){
    padding-left: 0;
}
.basket{
    margin-top: 40px;
    position: sticky;
    top: 400px;

}

.basket-container{
    border-radius: 15px;
    padding: 5px;
    border: 2px solid black;
    background-color: #B0E0E6;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;

}
.basket-name{
    font-size: 2rem;
    font-weight: bold;
}
.basket-body ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.basket-price{
    font-size: 2rem;
    font-weight: bold;
}

.basket-see{
    display: flex;
}
.basket-clear, .basket-buy{
    background-color: #932216;
    color: white;
    border-radius: 1 solid black;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;
    font-size: 1rem;
}
.page-up-button{
    display: block;
    position: fixed;
    bottom: 20%;

}
.page-up-button > div{
    display: flex;
    justify-content: center;
}
.page-up-button img{
    width: 50px;
    height: 50px;
}

@media (max-width: 1383px){

    .product-container{
        grid-template-columns: 150px;
        grid-template-rows: 140px 30px 100px 30px 25px;
    }
    .product-name, .product-price{
        font-size: 1.5rem;
    }
    .product-info{
        font-size: 0.75rem;
    }
    .product-foto img{
        width: 140px;
        height: 140px;
    }
    .navigation-list li{
        font-size: 1.5rem;
    }
}
@media (max-width: 1024px){
    .catalog{
        grid-template-columns: 150px 1fr;
    }
    .navigation-list li{
        font-size: 1.25rem;
    }
    .footer{
        font-size: 1rem;
    }
    .catalog-product-category h2{
        font-size: 1.5rem;
    }
    .basket-name, .basket-price{
        font-size: 1.25rem;
    }
    .basket-body li{
        font-size: 1 rem;
    }
    .basket{
        margin: 2.5px;
        top: 300px;
    }
}
@media (max-width: 650px){
    .catalog-product-category{
        max-width: 620px;
    }
    .catalog{
        grid-template-columns: 100px 1fr;
    }
    .navigation-list{
        gap: 5px;
        border-radius: 10px;
    }
    .navigation-list li{
        font-size: 1rem;
    }
    .product-container{
        grid-template-columns: 120px;
        grid-template-rows: 120px 20px 70px 20px 20px;
    }
    .product-name, .product-price{
        font-size: 1rem;
    }
    .product-info{
        font-size: 0.5rem;
    }
    .product-foto img{
        width: 120px;
        height: 120px;
    }
    .product-button-body{
        font-size: 0.75rem;
    }
    .catalog-product-category h2{
        font-size: 1rem;
    }
    .basket-name, .basket-price{
        font-size: 1rem;
    }
    .basket-products{
        font-size: 0.75rem;
    }
    .basket-clear, .basket-buy{
        font-size: 0.6rem;
    }
    .basket{
        margin-top: 20px;
        top: 200px;
    }

}
@media (max-width: 418px){
    .catalog-product-category{
        width: 250px;
    }
    .catalog{
        grid-template-columns: 80px 1fr;
    }
    .product-container{
        grid-template-columns: 80px;
        grid-template-rows: 80px 20px 70px 20px 20px;
    }
    .product-name, .product-price{
        font-size: 0.75rem;
    }
    .product-info{
        font-size: 0.5rem;
    }
    .product-foto img{
        width: 80px;
        height: 80px;
    }
    .basket-clear, .basket-buy{
        font-size: 0.5rem;
    }
    .navigation-list li{
        font-size: 0.75rem;
    }
    .basket{
        top: 170px;
    }
}